.App {
  text-align: center;
}
body,
html {
  direction: rtl;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#shoppingCardDelete {
  cursor: pointer;
  color: crimson;
}
#shoppingCardDelete:hover {
  cursor: pointer;
  background-color: crimson;
  border-radius: 4px;
  color: #f1f1f1;
  /* padding: 4px; */
}

#shoppingCardIncrease {
  color: black;
  cursor: pointer;
  border-radius: 4px;
}
#shoppingCardIncrease:hover {
  color: #f1f1f1;
  background-color: royalblue;
  border-radius: 4px;
  cursor: pointer;
}

#shoppingCardDecrease {
  color: black;
  cursor: pointer;
  border-radius: 4px;
}
#shoppingCardDecrease:hover {
  color: #f1f1f1;
  background-color: crimson;
  border-radius: 4px;
  cursor: pointer;
}
#shoppingCardQuantity {
  border-radius: 4px;
}
